h1 {margin:0 80px;}
main {width:360px; margin:0 auto; padding-bottom:70px;}
main .simple_join {}
main .simple_join .member_join {border-bottom:1px solid #ededed;}
main .simple_join .member_join h2 {
    font-size:1.25rem; font-weight:600; letter-spacing: -0.02em;
    margin: 25px 0 14px 0;
}
main .simple_join .member_join p {
    text-align:center; font-size:0.88rem; letter-spacing: -0.02em;
    color:#777;
}
main .simple_join .member_join .social_icon {margin:14px 0 30px 0;}
main .simple_join .member_join .social_icon img {margin:0 20px;}
main #memFrm {}
main #memFrm h2 {
    margin:22px 0 10px 0; font-size:1.06rem; letter-spacing: -0.02em;
    font-weight:500;
}
main #memFrm .user_email {overflow:hidden; margin-bottom:15px;}
main #memFrm .user_email .us_email {}
main #memFrm .user_email .us_email input[name=email_input] {
    letter-spacing: -0.02em; float:left; width:170px; border:1px solid #ddd; background-color:#fff; border-radius:3px;
    padding:10px; widh:170px; height:39px;
}
main #memFrm .user_email .us_email input[name=email_input]::placeholder {color:#bbb;}
main #memFrm .user_email .us_email > span {
    letter-spacing:-0.02em; margin: 0 10px;
    position:relative; left:-7px; top:10px;
    
}
main #memFrm .user_email .email_select {
    float:right; width:170px; padding:10px;
    border:1px solid #ddd; border-radius:3px;
    position:relative; top:-15px; height:39px;

}
main #memFrm .user_email .email_select .user_email_select {font-weight:400;}
main #memFrm .user_email .btn {}
main #memFrm .user_email .btn .email_confirm {
    margin:0 0 22px; background-color:#f5f5f5; border:1px solid #ddd;
    color:777; font-weight:600; letter-spacing: -0.02em; width:100%; padding:10px;
    border-radius:10px;
}
main #memFrm .user_password {}
main #memFrm .user_password h2 {
    margin:22px 0 10px 0; font-size:1.06rem; letter-spacing: -0.02em;
    font-weight:500;
}
main #memFrm .user_password p {margin-bottom:10px;}
main #memFrm .user_password p span {
    font-size:0.88rem; letter-spacing: -0.02em;
    color:#777; margin:10px 0; 
}
main #memFrm .user_password .pw_input {}
main #memFrm .user_password .pw_input input[name=user_pw] {
    background-color:#fff; width:100%; border:1px solid #ddd; padding:10px;
    border-radius:3px; height:42px;
}
main #memFrm .user_password .pw_input input[name=user_pw]::placeholder {letter-spacing: -0.02em; color:#bbb;}
main #memFrm .user_password_re {margin:22px 0;}
main #memFrm .user_password_re h2 {
    margin:22px 0 10px 0; font-size:1.06rem; letter-spacing: -0.02em;
    font-weight:500; 
}
main #memFrm .user_password_re p {}
main #memFrm .user_password_re p input[name=user_pw_re] {
    letter-spacing: -0.02em; background-color:#fff; border:1px solid #ddd;
    border-radius:3px; width:100%; padding:10px;
}
main #memFrm .user_password_re p input[name=user_pw_re]::placeholder {color:#bbb; letter-spacing: -0.02em;}
main #memFrm .user_nickname {}
main #memFrm .user_nickname h2 {
    margin:22px 0 10px 0; font-size:1.06rem; letter-spacing: -0.02em;
    font-weight:500;
}
main #memFrm .user_nickname p {margin-bottom:10px;}
main #memFrm .user_nickname p span {    
    font-size:0.88rem; letter-spacing: -0.02em; color:#777; margin:10px 0;
}
main #memFrm .user_nickname .nick_input {}
main #memFrm .user_nickname .nick_input input[name=user_nick] {
    background-color:#fff;
    border:1px solid #ddd; border-radius:3px; padding:10px; width:100%;
}
main #memFrm .user_nickname .nick_input input[name=user_nick]::placeholder {color:#bbb; letter-spacing: -0.02em;}
main #memFrm .agree_box {margin:22px 0;}
main #memFrm .agree_box h2 {}
main #memFrm .agree_box .check_law {
    border:1px solid #ddd; border-radius:3px; padding:10px;
}
main #memFrm .agree_box .check_law .all {border-bottom: 1px solid #ddd; padding-bottom:10px;}
main #memFrm .agree_box .check_law .all #agree_all {}
main #memFrm .agree_box .check_law .all label {
    font-size:1.06rem; font-weight:700; letter-spacing:-0.02em;
    background:url(../images/check_box_n.png) no-repeat 0 -2px;
    padding-left: 35px;
    letter-spacing:-0.02em;
}
main #memFrm .agree_box .check_law .all #agree_all:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -2px;
}
main #memFrm .agree_box .check_law .all label span {
    color:#777; font-weight:400; font-size:0.88rem;
}
main #memFrm .agree_box .check_law .age {margin:10px 0 17px 0;}
main #memFrm .agree_box .check_law .age #agree_age {}
main #memFrm .agree_box .check_law .age #agree_age:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -4px;
}
main #memFrm .agree_box .check_law .age label {
    background:url(../images/check_box_n.png) no-repeat 0 -4px;
    padding-left: 35px;
    font-size:0.81rem; letter-spacing:-0.02em;
}
main #memFrm .agree_box .check_law .age label span{color:#3292FF;}
main #memFrm .agree_box .check_law .law {margin-bottom:17px;}
main #memFrm .agree_box .check_law .law #agree_law {}
main #memFrm .agree_box .check_law .law #agree_law:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -4px;

}
main #memFrm .agree_box .check_law .law label {
    background:url(../images/check_box_n.png) no-repeat 0 -4px;
    padding-left: 35px; 
    font-size:0.81rem; letter-spacing:-0.02em;
}
main #memFrm .agree_box .check_law .law label span {color:#3292FF;}
main #memFrm .agree_box .check_law .law a {float:right;}
main #memFrm .agree_box .check_law .law a img {}
main #memFrm .agree_box .check_law .collect {margin-bottom:17px;}
main #memFrm .agree_box .check_law .collect #agree_collect {}
main #memFrm .agree_box .check_law .collect #agree_collect:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -4px;
}
main #memFrm .agree_box .check_law .collect label {
    background:url(../images/check_box_n.png) no-repeat 0 -4px;
    padding-left: 35px;
    font-size:0.81rem; letter-spacing:-0.02em 0 -2px;
}
main #memFrm .agree_box .check_law .collect label span {color:#3292FF;}
main #memFrm .agree_box .check_law .collect a {float:right;}
main #memFrm .agree_box .check_law .collect a img {}
main #memFrm .agree_box .check_law .marketing {margin-bottom:17px;}
main #memFrm .agree_box .check_law .marketing #agree_mk {}
main #memFrm .agree_box .check_law .marketing #agree_mk:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -4px;
}
main #memFrm .agree_box .check_law .marketing label {
    background:url(../images/check_box_n.png) no-repeat 0 -4px;
    padding-left: 35px;
    font-size:0.81rem; letter-spacing:-0.02em;
}
main #memFrm .agree_box .check_law .marketing label span {color:#777;}
main #memFrm .agree_box .check_law .marketing a {float:right;}
main #memFrm .agree_box .check_law .marketing a img {}
main #memFrm .agree_box .check_law .inform {margin-bottom:17px;}
main #memFrm .agree_box .check_law .inform #agree_inform:checked+label {
    background:url(../images/check_box_y.png) no-repeat 0 -4px;
}
main #memFrm .agree_box .check_law .inform label {
    background:url(../images/check_box_n.png) no-repeat 0 -4px;
    padding-left: 35px;
    font-size:0.81rem; letter-spacing:-0.06em;
}
main #memFrm .agree_box .check_law .inform label span {color:#777;}
main #memFrm .join_btn {}
main #memFrm .join_btn .join {
    background-color:#3292FF; padding: 15px 10px; color:#fff; letter-spacing:-0.02rem; width:100%; border-radius:3px; margin-bottom:22px;
}
main #memFrm .log_in {font-size:0.81rem; letter-spacing: -0.02em; text-align:center;}
main #memFrm .log_in span {}
main #memFrm .log_in a {font-weight:600;}